<div class="ui-g">
    <div class="ui-g-12">
        <h2>
            <b>Procesos</b>
        </h2>
    </div>
    <div class="ui-g-12">
        <form [formGroup]="form" novalidate>
            <div class="ui-g" *ngIf="!disabled">
                <div class="ui-g-9 ui-fluid">
                    <p-multiSelect [options]="procesos" formControlName="proceso" optionLabel="proceso" defaultLabel="Seleccione múltiples..."></p-multiSelect>
                </div>
                <div class="ui-g-3 ui-fluid text-aling-right">
                    <button pButton type="button" label="Relacionar proceso" (click)="relacionarProcesos()" [disabled]="!form.valid"></button>
                </div>
            </div>
        </form>
    </div>
    <div class="ui-g-12">
        <div class="ui-g">
            <div class="ui-g-12">
                <p-table #tableListaProcesos emptymessage="información no encontrada" [columns]="cols" [value]="data" paginator="true" [rows]="rows"
                    [loading]="loadingProcesos">
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th *ngFor="let col of columns; let i = index" [ngStyle]="(i==0)?{'width':'85%'}:{'width':'15%'}">
                                {{col.header}}
                            </th>
                            <th *ngIf="!disabled">Acciones</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-accionproceso>
                        <tr>
                            <td> {{ accionproceso?.proceso?.proceso }} </td>
                            <td style="text-align: center" *ngIf="!disabled">
                                <button pButton icon="pi pi-trash" class="ui-button-danger" (click)="deleteProcesoFromAccionCorrectiva(accionproceso)"></button>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
</div>