/* You can add global styles to this file, and also import other style files */

.text-aling-right {
    text-align: right;
}

.text-aling-center {
    text-align: center;
}

.fr-view table td.custom-borde,
.fr-view table th.custom-borde {
    border: 1px double black;
}
